@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

/* Background colors */
$primary-background-color: #304571;
$secondary-background-color: #000000;

/* Font colors */
$primary-font-color: #ffffff;
$secondary-font-color: #ebff00;
$tertiary-font-color: #ff70d9;

/* Button colors */
$primary-button-color: #ebff00;

/* Layout breakpoints */
$layout-breakpoint-large: 1248px;
$layout-breakpoint-medium: 768px;

/* Font variables */
$font-weight-extra-bold: 800;

/* Mixins */
@mixin button($width, $height, $font-size) {
  width: $width;
  min-height: $height;
  border-radius: 100px;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: $font-size;
  cursor: pointer;
}

@mixin offers-card-bckg($imageURL) {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(15, 20, 32, 0.79) 100%
    ),
    url($imageURL);
  background-position: center, center;
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
}

html {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: $primary-font-color;
}

* {
  margin: 0;
  padding: 0;
}

/* Desktop styles */

.main {
  background-color: $primary-background-color;
}

.header {
  background-color: $secondary-background-color;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px;

  &__logo-container {
    display: flex;
    gap: 6px;
    align-items: center;
  }

  &__logo--planet {
    width: 35px;
    height: 35px;
  }

  &__logo--text {
    width: 63px;
    height: 25.5px;
  }

  &__menu-toggle {
    display: none;
  }

  &__menu-input {
    display: none;
  }

  &__navigation {
    display: flex;
    gap: 57px;

    a {
      text-decoration: none;
      color: $primary-font-color;
    }

    .header__link--home:hover,
    .header__link--products:hover {
      background: -webkit-linear-gradient(
        98.25deg,
        #ebff00 18.56%,
        #ff70d9 76.02%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .header__link--cart {
      width: 24px;
      height: 20px;
      background-image: url("./assets/icons/cart.svg");
      background-size: 100%;
      background-repeat: no-repeat;
    }

    .header__link--cart:hover {
      background-image: url("./assets/icons/cart-gradient.svg");
    }
  }
}

.banner {
  height: 490px;
  padding: 91px 0 120px 82px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 22px;
  background-image: url("./assets/background-images/banner-planet.svg"),
    linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) -0.52%,
      rgba(15, 20, 32, 0.79) 99.48%
    ),
    url("./assets/background-images/banner-space.svg");
  background-position: right bottom 30%, center, left;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: auto, cover, cover;

  &__title {
    font-size: 72px;
    line-height: 72px;
    font-weight: $font-weight-extra-bold;

    &--subtext {
      color: $tertiary-font-color;
    }
  }

  &__text {
    font-size: 32px;
    font-weight: $font-weight-extra-bold;

    &--subtext {
      color: $secondary-font-color;
    }
  }

  &__button {
    @include button(191px, 54px, 22px);
    background-color: $primary-button-color;
    border: none;
  }

  &__button:hover {
    opacity: 0.6;
  }
}

.offers {
  padding: 58px 80px 62px 80px;

  &__title {
    margin-bottom: 40px;
    font-size: 32px;
    font-weight: $font-weight-extra-bold;
  }

  &__grid {
    display: grid;
    gap: 40px;
    grid-template-rows: auto auto auto;
  }

  &__card {
    height: 350px;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    gap: 22px;
    border-radius: 10px;
    box-sizing: border-box;

    .card__text--short {
      display: none;
    }
  }

  &__card--1 {
    @include offers-card-bckg("./assets/background-images/card1-space.svg");
    grid-row: 1;
    grid-column: span 2;
  }

  &__card--2 {
    @include offers-card-bckg("./assets/background-images/card2-space.svg");
  }

  &__card--3 {
    @include offers-card-bckg("./assets/background-images/card3-space.svg");
  }

  &__card--2,
  &__card--3 {
    grid-row: 2;
    grid-column: span 1;
    padding-top: 50px;
    padding-left: 35px;

    .card__title {
      font-size: 46px;
      line-height: 46px;
      font-weight: $font-weight-extra-bold;
      width: 57%;
    }

    .card__text {
      font-size: 24px;
      line-height: 24px;
      font-weight: $font-weight-extra-bold;
    }
  }

  &__card--4 {
    @include offers-card-bckg("./assets/background-images/card4-space.svg");
    grid-row: 3;
    grid-column: span 2;
  }

  &__card--1,
  &__card--4 {
    padding-top: 36px;
    padding-left: 35px;

    .card__title {
      font-size: 74px;
      line-height: 74px;
      font-weight: $font-weight-extra-bold;
      width: 60%;
    }

    .card__text {
      font-size: 26px;
      line-height: 26px;
      font-weight: $font-weight-extra-bold;
    }
  }

  .card__button {
    @include button(191px, 54px, 22px);
    border: 2px solid $primary-button-color;
    background-color: transparent;
    color: $secondary-font-color;
  }

  .card__button:hover {
    opacity: 0.6;
  }
}

.info {
  padding: 0 80px 60px 80px;
  display: flex;
  flex-direction: column;
  gap: 17px;

  &__title {
    font-size: 32px;
    font-weight: $font-weight-extra-bold;
  }

  &__text {
    font-size: 20px;
    line-height: 24px;
    opacity: 0.6;
  }

  &__input {
    width: 0px;
    height: 0px;
    display: none;
  }

  &__button {
    font-weight: $font-weight-extra-bold;
    font-size: 20px;
    line-height: 24px;
    color: $secondary-font-color;
    background-color: transparent;
  }

  &__button:hover {
    opacity: 0.6;
  }
}

.footer {
  background-color: $secondary-background-color;
  height: 127px;
  text-align: center;

  &__image {
    height: 78px;
  }

  &__text {
    color: $secondary-font-color;
    font-weight: $font-weight-extra-bold;
    line-height: 28px;
  }
}

/* Tablet styles */

@media (max-width: #{$layout-breakpoint-large - 0.5px}) {
  .header {
    padding: 0 30px;

    &__logo-container {
      gap: 4px;
    }

    &__logo--planet {
      width: 24px;
      height: 24px;
    }

    &__logo--text {
      width: 43px;
      height: 17.5px;
    }

    &__navigation {
      gap: 40px;
    }
  }

  .banner {
    height: 420px;
    padding: 100px 0 100px 30px;
    background-image: url("./assets/background-images/banner-planet.svg"),
      linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(15, 20, 32, 0.79) 100%),
      url("./assets/background-images/banner-space.svg");
    background-position: right -20% bottom 50%, center, left;
    background-size: 300px, cover, cover;

    &__title {
      font-size: 48px;
      line-height: 48px;
      font-weight: $font-weight-extra-bold;
    }

    &__text {
      font-size: 22px;
    }
  }

  .offers {
    padding: 55px 30px;

    &__title {
      font-size: 24px;
      margin-bottom: 30px;
    }

    &__grid {
      gap: 30px;
      grid-template-rows: auto auto;
    }

    .card__text--short {
      display: block;
    }

    .card__text--long {
      display: none;
    }

    &__card--1,
    &__card--2 {
      grid-row: 1;
      grid-column: span 1;
    }

    &__card--3,
    &__card--4 {
      grid-row: 2;
      grid-column: span 1;
    }

    &__card--1,
    &__card--2,
    &__card--3,
    &__card--4 {
      padding-top: 105px;
      padding-left: 25px;

      .card__title {
        font-size: 40px;
        line-height: 40px;
        width: 80%;
      }

      .card__text {
        font-size: 16px;
        line-height: 20px;
      }
    }

    .card__button {
      @include button(161px, 33px, 16px);
    }
  }

  .info {
    padding: 0 30px 53px 30px;
    gap: 0;

    &__title {
      font-size: 24px;
      margin-bottom: 13px;
    }

    &__text {
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 20px;
    }

    &__button {
      font-size: 16px;
      line-height: 20px;
    }
  }
}

/* Mobile styles */

@media (max-width: #{$layout-breakpoint-medium - 0.5px}) {
  .header {
    height: 48px;
    padding: 0 20px;
    position: relative;

    &__menu-toggle {
      display: block;
      cursor: pointer;
      width: 30px;
      height: 37px;
      background-image: url("./assets/icons/burger-menu.svg");
    }

    &__menu-input {
      visibility: hidden;
    }

    &__navigation {
      display: none;
    }

    &__menu-input:checked ~ &__navigation {
      display: flex;
      gap: 20px;
      position: absolute;
      top: 0;
      left: 0;
      padding: 50px 20px 30px 20px;
      flex-direction: column;
      background-color: $secondary-background-color;
      width: 100%;
      opacity: 0.8;
    }

    &__menu-input:checked + &__menu-toggle {
      position: relative;
      z-index: 100;
      background-image: url("./assets/icons/burger-menu-cross.svg");
    }
  }

  .banner {
    height: 450px;
    text-align: center;
    padding: 250px 34px 44px 34px;
    background-position: center bottom 195%, center, left;
    gap: 17px;

    &__title {
      font-size: 35px;
      line-height: 35px;
      font-weight: $font-weight-extra-bold;
    }

    &__text {
      font-size: 16px;
    }

    &__button {
      @include button(161px, 33px, 16px);
      margin: 0 auto;
    }
  }

  .offers {
    padding: 50px 20px;

    &__title {
      font-size: 18px;
    }

    &__grid {
      grid-template-rows: auto auto auto auto;
    }

    &__card--1 {
      grid-row: 1;
      grid-column: span 1;
    }

    &__card--2 {
      grid-row: 2;
      grid-column: span 1;
    }

    &__card--3 {
      grid-row: 3;
      grid-column: span 1;
    }

    &__card--4 {
      grid-row: 4;
      grid-column: span 1;
    }
  }

  .info {
    padding: 0 20px 50px 20px;
    gap: 20px;
    position: relative;

    &__title {
      font-size: 18px;
      margin-bottom: 0;
    }

    &__text {
      font-size: 14px;
      line-height: 17px;
      margin-bottom: 0;

      /* Showing part of the text, to see full text - click Read more */
      overflow-y: hidden;
      max-height: 60px;
    }

    &__input {
      position: absolute;
      display: inline-block;
    }

    &__button {
      font-size: 14px;
      line-height: 17px;
    }

    &__input:checked ~ &__text {
      max-height: none;
    }
  }
}
